.missing {
  background-color: rgb(255, 190, 190) !important;
}
.sync {
  background-color: rgb(200, 255, 204) !important;
}

.sync.odd {
  background-color: rgb(165, 255, 171) !important;
}
.missing.odd {
  background-color: rgb(255, 204, 204) !important;
}

.missing.even {
  background-color: rgb(255, 190, 190) !important;
}
